.banner {
    background-image: url('../assets/huisje.png');  
    background-size: cover;  
    background-position: center;  
    height: 40vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  }
  
  h1 {
    font-size: 3em;
  }