  
  .banner {
    background-color: #e9ecef;
    padding: 20px;
  }
  
  .banner h1 {
    color: #6AABD2;
    text-shadow: 2px 2px #082e49;
  }
  
  .easy-access {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .easy-access button {
    padding: 10px 20px;
  }
  
  .news {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .news-item img {
    width: 100px;
    height: 100px;
  }
  
  .house-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .house-item {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
    text-align: center;
  }
  
  .house-item img {
    max-width: 100%;
  }
  
  .house-item p {
    margin: 0;
  }