.register-form {
    position: relative;
    top: 10px;
    max-width: 600px;
    background-color: #D9E4EC;
    margin: 0 auto;
    padding: 20px;
    color: black;
    border: 1px solid #385E72; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    z-index: 999;
}

.register-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.register-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: black;
}

.register-form .input-icon {
    position: relative;
}

.register-form .input-icon input,
.register-form .input-icon select,
.register-form .input-icon .date-picker {
    display: block;
    width: 100%;
    padding: 10px 40px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #B7CFDC;
    box-sizing: border-box;
    font-size: 16px;
    background-color: snow; 
    color: black; 
}

.register-form .input-icon .date-picker {
    padding-left: 40px; 
    width: 106%;
    right: 8px;
    position: relative;
    text-align: center;
}

.register-form .input-icon svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #385E72; 
}

.register-form .error {
    color: red;
    font-size: 14px;
    margin: -10px 0 10px 0;
}

.register-form .password-tooltip {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 250px;
    right: -350px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: left;
}

.register-form .password-tooltip ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.register-form .password-tooltip li {
    margin-bottom: 5px;
}

.register-form .progress {
    height: 20px;
    margin-top: 10px;
}

.register-form button {
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border-style: solid;
    border: #385E72 1;
    border-color: #385E72;
    background-color: #6AABD2; 
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.register-form button:hover {
    background-color: #385E72; 
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.flex-item {
    flex: 1;
}

.terms {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
}

.terms input {
    margin-right: 10px;
}

.terms a {
    color: #6AABD2; 
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.react-datepicker__navigation {
    top: 10px;
    line-height: 1.7rem;
    width: 20px; 
    height: 20px; 
}

.react-datepicker__navigation-icon::before {
    width: 6px; 
    height: 6px; 
    border-width: 1px 1px 0 0; 
    transform: rotate(135deg); 
}

.react-datepicker__navigation--previous {
    left: 5px; 
}

.react-datepicker__navigation--next {
    right: 5px; 
}

.react-datepicker__navigation--previous::before,
.react-datepicker__navigation--next::before {
    border-color: #6AABD2; 
}

.react-datepicker__header {
    background-color: #6AABD2; 
    border-bottom: 1px solid #385E72; 
}

.react-datepicker__current-month,
.react-datepicker__current-year {
    color: #fff;
    font-weight: bold;
}

.react-datepicker__day--selected, .react-datepicker__day--keyboard-selected {
    background-color: #385E72; 
    color: #fff;
}

.react-datepicker__day--today {
    background-color: #B7CFDC; 
    color: #fff;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

