.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f8f9fa;
}

header .logo {
  font-size: 24px;
}

header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

header input {
  margin-left: 15px;
}

.banner {
  background-color: #e9ecef;
  padding: 20px;
}

.banner h1 {
  color: #dc3545;
}

.easy-access {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f8f9fa;
}

.easy-access button {
  padding: 10px 20px;
}

.news {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.news-item img {
  width: 100px;
  height: 100px;
}


footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #8c8f918e;
  position: fixed;
  bottom: 0;
  width: 98%;
  text-decoration: none;
}

footer a{
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
}

.house-filter {
  width: 200px; /* Breedte van de filter sectie aanpassen */
}

.house-list {
  flex: 1; /* Foto's nemen de rest van de beschikbare ruimte in beslag */
  display: flex;
  flex-wrap: wrap;
}

.house-item {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.house-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}